<div class="voice-translator">
  <!-- Bouton pour démarrer/arrêter l'enregistrement -->
  <button (click)="toggleRecording()" class="microphone-button">
    {{ isRecording ? 'Arrêter' : 'Parler' }}
  </button>

  <div *ngIf="isRecording" class="timer">
    Temps d'enregistrement : {{ timerMinutes }}:{{ timerSeconds | number: '2.0-0' }}
  </div>
  <!-- Section pour lire l'audio traduit -->
  <audio #translatedAudio controls></audio>
</div>

<textarea  [(ngModel)]="inputValue"  (keydown)="handleKeyDown($event)" rows="5" cols="40"></textarea>
